<%-include("../partials/header")%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">CS 240 Project</h1>
      <p class="lead">Real Estate Management System</p>
    </div>
</div>  
<h1>Some Cool Landing Will Go here</h1>
<%-include("../partials/footer")%>